.skills-container {
    margin: 25px 210px;
    display: flex; 
    justify-content: space-around;
    background-color: #333; 
    padding: 20px;
    height: 160px;
  }
.My-Skills{
    padding: 78px 0 ;
    text-align: center;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.711);
}
  
  .skill {
    text-align: center; 
    color: #888;
    background-color: #333;
    font-size: 30px;

  }
  
  .skill h3 {
    font-size: 2em;
    margin: 0;
    background-color: #333;

  }
  
  .skill p {
    font-size: 1.2em;
    color: #00FF00; 
    background-color: #333;

  }
  